# *****************************
# Environment specific settings
# *****************************

# Flask settings
SECRET_KEY = '{{ flask_secret_key }}' # type: str

# SQLAlchemy settings
SQLALCHEMY_DATABASE_URI = 'postgresql://debugproxy:{{ debugproxy_postgres_password }}@localhost/debugproxy' # type: str

DATA_PATH = "./data"

# Flask-Mail settings
MAIL_USERNAME = '{{ mail_username }}'
MAIL_PASSWORD = '{{ mail_password }}'
USER_EMAIL_SENDER_NAME = 'debugproxy'
USER_EMAIL_SENDER_EMAIL = 'hello@debugproxy.tarnbarford.net'
MAIL_SERVER = '{{ mail_server }}'
MAIL_PORT = 587
MAIL_USE_SSL = False
MAIL_USE_TLS = True

PROXYUI_URL = '/client/main.js'
PROXYWEBSOCKET_URL = 'wss://{{ domain }}/updates'
LOG_FILE = '/var/log/debugproxy/website.log'

REDIS_HOST = "localhost"
REDIS_PORT = "6379"

# Script / server urls
PROXYSERVER_PORT = '8080'
PROXYSERVER_URL = '{{ domain }}:8080'

PROXYSERVER_CHANNEL = 'channel:proxyserver'
WEBSOCKET_CHANNEL = 'channel:websocket'
WORKER_QUEUE = 'queue:workers'

WEBSITE_URL = "http://{{ domain }}"
DEBUG=False
RELOAD=False

RATE_LIMITS = [
    (10000, 60 * 60),
    (5000, 10 * 60),
    (1000, 60),
    (50, 3)
]


# Application settings
APP_NAME = "debugproxy"
APP_SYSTEM_ERROR_SUBJECT_LINE = APP_NAME + " system error"

# Flask settings
CSRF_ENABLED = True

# Flask-User settings
USER_APP_NAME = APP_NAME
USER_ENABLE_CHANGE_PASSWORD = True  # Allow users to change their password
USER_ENABLE_CHANGE_USERNAME = False  # Allow users to change their username
USER_ENABLE_CONFIRM_EMAIL = True  # Force users to confirm their email
USER_ENABLE_FORGOT_PASSWORD = True  # Allow users to reset their passwords
USER_ENABLE_EMAIL = True  # Register with Email
USER_REQUIRE_RETYPE_PASSWORD = True
USER_ENABLE_USERNAME = False  # Register and Login with username
USER_AFTER_LOGIN_ENDPOINT = 'home.home_page'
USER_AFTER_LOGOUT_ENDPOINT = 'home.home_page'
USER_ENABLE_REGISTRATION = True
USER_ENABLE_INVITATION = True
USER_REQUIRE_INVITATION = True
USER_SEND_PASSWORD_CHANGED_EMAIL = False
USER_ALLOW_LOGIN_WITHOUT_CONFIRMED_EMAIL = False
USER_SHOW_EMAIL_DOES_NOT_EXIST = False
USER_SHOW_USERNAME_DOES_NOT_EXIST = False

USE_GOOGLE_CAPTCHA = False
GOOGLE_CAPTCHA_SECRET = '{{ google_captcha_secret }}'
GOOGLE_CAPTCHA_PUBLIC = '{{ google_captcha_public }}'

TEMPLATES_AUTO_RELOAD = True
